body {
  margin: 0px;
  padding: 100px;
  height: 2000px;
}

h4 {
  margin: 2em 0 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  top: 0;
  z-index: 1;
  position: sticky;
}

ul {
  display: block;
  background-color: #ffffe0;
  position: relative;
  padding: 0px;
}

li {
  height: 36px;
  width: 36px;
  list-style-type: none;
  width: 100%;
  background-color: #f7f9f7;
  margin-top: 10px;
}