<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Your App</title>
</head>
<body>
  <script src="https://static.clewm.net/cli/js/lib/jquery191.js"></script>
  <div id="root"></div>
</body>
</html>